<app-header [auth]="userInfo.authlvl" [picture]="userInfo.picture"></app-header>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading" i18n>Upload Video</h1>
        <p class="lead text-muted"><span i18n>Welcome professor</span> {{userInfo.family_name}}, {{userInfo.given_name}}</p>
        <p class="lead text-muted" i18n>Please, upload your video following the next steps.</p>
        <form [formGroup]="uploadVideoForm" (ngSubmit)="saveVideo()"><!--<form>-->
            <div class="form-group">
                <h3 for="sel1" i18n>1. Select Course:</h3><br>
                <select class="form-control" id="sel1" formControlName="course" [ngClass]="{ 'is-invalid': submitted && f.course.errors }">
                    <option *ngFor="let c of coursesInfo" value="{{c._id}}">{{c.number}}: {{c.name}}</option>
                </select>
                <div *ngIf="submitted && f.course.errors" class="text-danger">
                    <div *ngIf="f.course.errors.required" i18n>Course is required</div>
                </div>
            </div>
            <div class="form-group">
                <h3 i18n>2. Select Video:</h3>
                <div class="file-drop-area">
                    <label for="vid" class="file-msg">
                        <span i18n>Choose file </span>
                        <div *ngIf="file; else elseBlock">{{file.name}}</div>
                        <ng-template #elseBlock><span i18n>or drag and drop file here.</span></ng-template>
                    </label>
                    <!--<input formControlName="video" name="video" class="file-input" type="file">  (change)="onSelectFile($event)"-->
                    <input id="vid" name="video" type='file' accept="video/*" formControlName="video" class="file-input form-control custom-file-input"  [ngClass]="{ 'is-invalid': submitted && f.video.errors }" />

                    <div *ngIf="submitted && f.video.errors" class="text-danger">
                        <div *ngIf="f.video.errors.required" i18n>Class video is required</div>
                        <div *ngIf="f.video.errors.requiredFileType" i18n>Class video must be in mp4 format</div>
                    </div>
                </div>
                <div class="progress" *ngIf="progress > 0">
                    <div class="progress-bar" [style.width.%]="progress">{{progress}}%</div>
                </div>
            </div>
            <!-- ToDo add input speaker language / accent for internationalizing porposes-->
            <!-- ToDo add input enter keywords to help the transcription service to process it more accurately -->
            <!-- ToDo set MB video <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>-->
            <div class="row">
                <button type="submit" class="btn btn-primary"><img alt="up" src="./assets/upload.svg" width="15" height="15"><span i18n>Upload</span></button>
            </div>
        </form>
    </div>
</section>

<h1 i18n>List of courses to unfold and see files related and edit</h1>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16fa7d47063%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16fa7d47063%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7109375%22%20y%3D%22120.15%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" [routerLink]="['/prof/show', 1]" class="btn btn-sm btn-outline-secondary">View</button><!--{{video.id}}-->
                                <button type="button" [routerLink]="['/prof/video/edit', 1]" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16fa7d47063%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16fa7d47063%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7109375%22%20y%3D%22120.15%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" [routerLink]="['/prof/show', 2]" class="btn btn-sm btn-outline-secondary">View</button><!--{{video.id}}-->
                                <button type="button" [routerLink]="['/prof/video/edit', 2]" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer [auth]="userInfo.authlvl"></app-footer>