.back{
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
}

.login{
	background-color: rgba(255,255,255,0.9);
}

.margin{
	height: 10vh;
}

.maxmargin{
	height: 100vh;
}

html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}