<app-header [auth]="userInfo.authlvl" [picture]="userInfo.picture"></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-7 py-4 mr-auto">
            <figure class="mbr-figure align-center container">
                <div class="video-block embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls>
                        <source src="{{uri}}/{{videoInfo.url}}" type="video/mp4">
                    </video>
                </div>
            </figure>
            <h1>{{videoInfo.name}}</h1>
            <!-- Description or keywords for translation?? -->
            <hr>
            <h3 i18n>Transcripts</h3>
            <p i18n>Show transcript complete</p>
            <table>
                <tr>
                    <th i18n>Time</th><th i18n>Word</th><th *ngIf="userInfo.authlvl > 32"  i18n>Edit</th>
                </tr>
                <tr>
                    <td>00:00:00</td>
                    <td i18n>Show transcript table clickable for set video time</td>
                    <td *ngIf="userInfo.authlvl > 32"><button i18n>Edit Transcripts</button></td>
                </tr>
            </table>

            <!-- Add comments for students to send the first caption edition recommendations ?? -->
            <!-- It would also provide a space for students to ask questions to the professor, about anything on the video. Plus, they can give an exact timestamp for accuracy ?? -->
            <!-- Save PDF ?? -->
        </div>
    </div>
    <div class="col-sm-4 col-md-5">
        <table>
                <tr>
                    <th><h3 i18n>Keywords</h3></th>
                </tr>
                <tr>
                    <td>docker</td>
                    <td>linux</td>
                </tr>
        </table>
    </div>
</div>
<app-footer [auth]="userInfo.authlvl"></app-footer>