/* You can add global styles to this file, and also import other style files */

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
	max-width: unset;
}

.bodyprofessor {
	margin-bottom:120px;
}

.bodystudent {
	margin-bottom:160px;
}